
<div><a href="#" class="square_btn">Dobrze {{points}} <i class="fa fa-check" aria-hidden="true"></i></a> <a href="#" class="square_back" routerLink="/category-class"><i class="fa fa-chevron-left"></i> Powrót</a></div>
<a href="#" class="square_btn1">Źle {{wrong}} <i class="fa fa-times" aria-hidden="true"></i></a>

<div class="form-group1">
  
<ul *ngFor="let oneTask of tasks" >

    <a *ngIf="oneTask.idCategory==idCategory && oneTask.id == temp" ><div >{{oneTask.content}} <div style="font-size: 6rem;">{{oneTask.action}}  </div> 

      <!-- <img src="">   -->  

<ul class="list" id="noneDotsList">
    <table style="width: 100%" >
      <tr>
        <th>
            <button class="btn btn-success" (click)="checkAnswer(oneTask.answer_a,oneTask.correct_answer)" >{{oneTask.answer_a}}</button>
         
        </th>
        <th>
            
            <button class="btn btn-info" (click)="checkAnswer(oneTask.answer_b,oneTask.correct_answer)">{{oneTask.answer_b}}</button>
          
        </th>
        <th>
            <button class="btn btn-danger" (click)="checkAnswer(oneTask.answer_c,oneTask.correct_answer)">{{oneTask.answer_c}}</button>
        </th>
        <th>
            <button class="btn btn-primary" (click)="checkAnswer(oneTask.answer_d,oneTask.correct_answer)">{{oneTask.answer_d}}</button>
        </th>
      </tr>
      
    </table>
  
  </ul>
</div></a>
</ul> 

</div>
