.form-group1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    
   
  }
.list{

    text-align: center;
    margin-top: 9rem;
   

}
.btn {
    width: 10rem;
    font-size: 2rem;
  }
  .square_btn{
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, green 0%,#006633 100%);
    background-image: linear-gradient(45deg, green 0%, #006633 100%);
    transition: .4s;
    margin-top: 1vh;
    width: 8rem;
    margin-left: 1vh;
    text-align: center;
    
}
.square_btn1{
  display: inline-block;
  padding: 7px 20px;
border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, red 0%, #ff8b5f 100%);
  background-image: linear-gradient(45deg, red 0%, #ff8b5f 100%);
  transition: .4s;
  margin-left: 1vh;
  margin-top: 1vh;
  width: 8rem;
  text-align: center;
}

.square_back {
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
  float:right;
  margin-top: 1vh;
  margin-right: 1vh;
}