.form-group1{

    margin-top: 5rem;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.form-group2{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    position: static;
    
}


.form-group3{

     margin-top: 5rem;
     width: 50%;
     margin-left: 25%;
     margin-right: 25%;
}
