<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<div class="container">
  <div class="row">
    <div class="container" id="formContainer">
      <form (ngSubmit)="createUser()">
        <div class="form-group1">
          <h3 class="form-signin-heading">Wpisz imie</h3>
          <input
            type="name"
            class="form-control"
            required
            [(ngModel)]="user.name"
            name="name"
          />
        </div>
        <div class="form-group2">
          <h3 class="form-signin-heading">Wybierz avatar</h3>

          <div id="startPanelHeader"></div>
          <div id="startPanelBody">
            <ul id="noneDotsList" style="overflow: scroll; height: 20vh">
              <table style="width: 100%">
                <tr>
                  <th>
                    <div *ngIf="isClicked"></div>
                    <div [ngStyle]="isClicked && { color: 'red' }">
                      <i
                        class="fa fa-futbol-o"
                        aria-hidden="true"
                        style="font-size: 2rem"
                        (click)="tak(isClicked)"
                      ></i>
                    </div>
                  </th>
                  <th>
                    <div *ngIf="isClicked1"></div>
                    <div [ngStyle]="isClicked1 && { color: 'red' }">
                      <i
                        class="fa fa-taxi"
                        aria-hidden="true"
                        style="font-size: 2rem"
                        (click)="tak1(isClicked1)"
                      ></i>
                    </div>
                  </th>
                  <th>
                    <div *ngIf="isClicked2"></div>
                    <div [ngStyle]="isClicked2 && { color: 'red' }">
                      <i
                        class="fa fa-bicycle"
                        aria-hidden="true"
                        style="font-size: 2rem"
                        (click)="tak2(isClicked2)"
                      ></i>
                    </div>
                  </th>
                </tr>
                <tr>
                  <td>xx</td>
                  <td>xx</td>
                  <td>xx</td>
                </tr>
                <tr>
                  <td>xx</td>
                  <td>xx</td>
                  <td>xx</td>
                </tr>
              </table>
              <div></div>

              <div></div>
              <div></div>
            </ul>
          </div>
        </div>
        <div class="form-group3">
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Akceptuj
          </button>
        </div>
      </form>
    </div>
    <!-- /container -->
  </div>
</div>
