
html{
    font-size: calc(10px + (20 - 10)*(100vw - 400px)/(1920 - 400));
    background-image: url(./image/back.png);
  }
  
 

  #pleaserotate-graphic {
      fill: #fff;
  }

  #pleaserotate-backdrop {
      color: #fff;
      background-color: #000;
  }
